/* MyComponent.css */

.container-section {
    border-radius: 20px;
    background-color: rgba(85, 211, 82, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 16px;
    width : 20rem
    min-content;
    margin: 0 auto; 
  }
  
  .avatar {
    width: 70px;
    filter: drop-shadow(4px 10px 20px rgba(0, 0, 0, 0.07));
    background-color: #fff;
    border-radius: 50%;
    height: 70px;
  }
  
  .title {
    color: #292F32;
    margin-top: 34px;
    font: 600 20px Inter, sans-serif;
  }
  
  .description {
    color: rgba(41, 47, 50, 0.80);
    margin-top: 20px;
    font: 500 Inter, sans-serif;
  }
  